.parallax {
    background-image: url('https://cdn.pixabay.com/photo/2015/04/20/13/17/work-731198_960_720.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}